{% extends 'eventpage.html' %}

{% block dialogues %}
	<div id="1">
	<p>
	This never ends… No, don’t be a loser. You gotta do it. Well, it’s simple, you got all the 8 badges and when you beat the Elite Four, nothing can stop you from becoming the Pokémon master. Here, the battle begins…
	</p>
	</div>

	<div id="2">
	<p>
	Lance: Do you wish to challenge the Elite Four? It won't be easy to defeat us! Let the match begin!
	</p>
	</div>

	<div id="3">
	<p>
	You: Got it. It’s time. Go Pikachu-Thunder attack!
	</p>
	</div>
{% endblock%}
