{% extends 'base.html' %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<div style="text-align:center">
<h1> INSTRUCTIONS </h1>
<br>
</div>
<ol class="list-group">
<li class="list-group-item">All text has to be typed in UPPER CASE, so always have your caps on.</li>
<li class="list-group-item"><b>CAUTION</b>: Do not use copy/paste action as such events will be reported to the game admin.</li>
<li class="list-group-item">You will gain points for every puzzle you solve or every correct attack your Pokémon performs.</li>
<li class="list-group-item">Points will be deducted if you answer the puzzles incorrectly or perform an invalid attack.</li>
<li class="list-group-item">The puzzles are the main part of your game... solve them to unlock new attacks and new Pokémons.</li>
<li class="list-group-item">If you are not sure about your answer then you can simply write "I AM DUMB"(without quotes) and save yourself from the point decrement.</li>
<li class="list-group-item">Each attack has an attack strength related to it. Suppose you perform an attack of attack strength x then your Pokémon will loose x/10 units of health while giving a damage of x to it's opponent. The health damage your Pokémon suffers is the difference of your attack's damage and that of your opponent.(During the battle, your health cannot increase)</li>
<li class="list-group-item">The leaderboard shows the ranking according to the <strong>CPI (Cumulative Points Index) only.</strong></li>
<li class="list-group-item">The final scoring of the event will be done on the basis of both your CPI and Pokémons' healths, where your CPI will get a little higher weightage. You have to finish the game so as to get your final score!</li>
<li class="list-group-item">To check your current game stats view the profile and leaderboard page.</li>
<li class="list-group-item">To get info about the Pokémons you face in the battle, refer the 'Pokédex' from the footer.</li>
</ol>
</html>

{% endblock %}