{% extends 'base.html' %}

{% block title %}
Pokédex
{% endblock %}

{% block content %}
<div style="text-align:center">
<h1>POKEDEX REFERENCE LIST</h1>
<br>
</div>
<table class="table table-hover">
				<thead>

		            <tr>
		              <th>#</th>
		              <th>Pokémon</th>
		              <th>Attack (Damage induced)</th>
		            </tr>
          		</thead>
      			<tbody>
		            <tr>
		              <td>1</td>
		              <td>Starmie</td>
		              <td>Hyper Beam attack(40) <br> Water pulse(20) <br> Takedown(30)</td>
		            </tr>
				<tr>
		              <td>2</td>
		              <td>Spearow</td>
		              <td>Fury attack(30) </td>
		            </tr>
				<tr>
		              <td>3</td>
		              <td>Caterpie</td>
		              <td>Electroweb(20)</td>
		            </tr>
			   <tr>
		              <td>4</td>
		              <td>Squirtle</td>
		              <td>Skull Bash(40)</td>
		            </tr>
			     <tr>
		              <td>5</td>
		              <td>Abra</td>
		              <td>Teleport(20)</td>
		            </tr>
				<tr>
		              <td>6</td>
		              <td>Kadabra</td>
		              <td>Toxic(30) <br> Psychic attack(40)</td>
		            </tr>
				<tr>
		              <td>7</td>
		              <td>Arbok</td>
		              <td>Headbutt(20) <br> Poison sting(30)</td>
		            </tr>
				<tr>
		              <td>8</td>
		              <td>Wezing</td>
		              <td>Smokescreen(20) <br> Poison gas(40)</td>
		            </tr>
		            
		            
		            
		        </tbody>
</table>

{% endblock %}